body {
  background-color: var(--main-color-black);
  z-index: 1;
  animation: init_body .5s ease forwards;
  animation-delay: 1s;

  overflow-y: hidden;
  background-position: center center;
  background-size: cover;
}

body::-webkit-scrollbar {
  display: none;
}

#background {
  position: absolute;
  left: 0;
  right: 0;
  width: 40%;
  height: 100vh;

  background-color: var(--main-color-yellow);

  animation: init 1s ease forwards;
  z-index: -2;
}

#box {
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */

  opacity: 0;
  animation: init_box 1s ease forwards;
  animation-delay: .4s;
}

#home-button {
  border-color :var(--main-color-yellow);
  color: var(--main-color-yellow);
  transition: .5s;
}

#home-button:hover > .effect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--main-color-yellow);
  animation: button_hover .5s ease;
}

a {
  color: var(--main-color-black);
}

.item {
  width: 96%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--main-color-yellow);

  transform: perspective(500px) rotateY(-15deg);
  transition: .5s;

  z-index: 1;

  /* background-color: var(--main-color-black); */
  /* opacity: .2; */
}

.item:after {
  cursor: pointer;
  background-position: center center;
  background-size: cover;

  filter:alpha(opacity=50);
  opacity: 0;
  transition: .5s;

  position:absolute;
  top:0;
  left:0;
  
  width:100%;
  height:100%;
  
  z-index: 1;
  content: "";
}

.item:hover {
  transform: rotateY(0deg);
  transition: .5s;
}

.item:hover:after {
  transition: .5s;
  filter: none;
  opacity: .7;
}

.item > h1 {
  cursor: pointer;

  text-align: center;
  font-size: 3.2rem;
  color: var(--main-color-yellow);

  position: absolute;
  top: 50%;
  
  padding: 0 auto;

  opacity: 1 !important;
  z-index: 5 !important;
  transition: .5s;
}

.item:hover > h1 {
  color: white;
  transition: .5s;
}

.item:nth-child(1):after {
  background-image: url(../imgs/notebook.jpg);
}

.item:nth-child(2):after {
  background-image: url(../imgs/simplog.PNG);
}

.item:nth-child(3):after {
  background-image: url(../imgs/phpboard.png);
}

.item:nth-child(4):after {
  background-image: url(../imgs/doorlock.PNG);
}

.item:nth-child(5):after {
  background-image: url(../imgs/dotboard.jpg);
}

.item:nth-child(6):after {
  background-image: url(../imgs/weatheralert.jpg);
}

.item:nth-child(7):after {
  background-image: url(../imgs/smartcart2.jpg);
}

@keyframes init {
  50% {
    width: 20%;
  }
  100% {
    width: 0;
  }
}

@keyframes init_box {
  100% {
    opacity: 1;
  }
}

@keyframes init_body {
  100% {
    background-color: var(--main-color-black);
    opacity: 1;
    z-index: -5;

  }
}

@keyframes button_hover {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}