#background {
  position: absolute;
  left: 0;
  right: 0;
  width: 45%;
  height: 100vh;

  background-color: crimson;

  animation: init 1s ease forwards;
  z-index: -1;
}

#box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  opacity: 0;
  animation: init_box 1s ease forwards;
  animation-delay: .4s;
}

a {
  color: black;
}

.item {
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;
  background-size: cover;
  background-position: center center;

  opacity: .3;
  transition: .2s;
}

.item > h1, .item > h2 {
  text-align: center;
  font-size: 4rem;

  position: relative;
  top: 0;
  left: 0;

  opacity: 1;
  z-index: 1;
}

.item:nth-child(2) {
  background-image: url(../imgs/notebook.jpg);
  color: crimson;
}

.item:nth-child(3) {
  background-image: url(../imgs/phpboard.png);
  color: black;
}

.item:nth-child(4) {
  background-image: url(../imgs/doorlock.PNG);
  color: black;
}

.item:nth-child(5) {
  background-image: url(../imgs/dotboard.jpg);
  color: black;
}

.item:nth-child(6) {
  background-image: url(../imgs/weatheralert.jpg);
  color: white;
}

.item:hover {
  opacity: 1;
  transition: .2s;
}

.item:hover .background {
  visibility: visible;
}

@keyframes init {
  50% {
    width: 25%;
  }
  100% {
    width: 0;
  }
}

@keyframes init_box {
  100% {
    opacity: 1;
  }
}