@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@500;700&display=swap');

:root {
  --main-color-yellow: #f9d142;
  --main-color-black: #292826;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family:  'Ubuntu', 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
}

#container {
  width: 100%;
  height: 100vh;
}

#container > * {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;
}

#home-button {
  position: absolute;
  left: 3%;
  top: 3%;
  font-size: 2rem;
  font-weight: 700;
  border: 1px solid var(--main-color-black);
  padding: 0.5rem 2rem;
  z-index: 20;
}

.content-hidden {
  display: none !important;
  z-index: -1 !important;
  visibility: hidden !important;
}

.content-visible {
  display: flex !important;
  z-index: 1 !important; 
  visibility: visible !important;
}