#background {
  position: absolute;
  left: 0;
  right: 0;
  width: 60%;
  height: 100vh;

  background-color: var(--main-color-yellow);

  animation: init 1s ease forwards;
  transition: .5s;
  z-index: -1;
}

#home-button {
  /* border-color: var(--main-color-black); */
  color: var(--main-color-black);
}

#home-button:hover {
  border-color: white;
  color: white;
}

body {
  background-color: var(--main-color-black);
  text-align: center;
  transition: .5s;
}

body:hover #background {
  background-color:var(--main-color-black);
  transition: .5s;
}

body:hover #home-button {
  border-color :var(--main-color-yellow);
  color: var(--main-color-yellow);
  transition: .5s;
}

body:hover #home-button:hover > .effect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--main-color-yellow);
  animation: button_hover .5s ease;
}

h1, h2 {
  color: var(--main-color-black);
  font-weight: 500;
}

h1 > a, h2 > a {
  color: var(--main-color-black);
  font-weight: 700;
}

body:hover h1, body:hover h2, body:hover h1 > a, body:hover h2 > a {
  color: var(--main-color-yellow);
  transition: .5s;
}

body:hover h1 > a:hover, body:hover h2 > a:hover {
  color: white;
  transition: .5s;
}

h1 {
  font-size: 5rem;
}

hr {
  background-color: var(--main-color-black);
  border: 0;
  width: 60%;
  height: 4px;
}

body:hover hr {
  background-color: var(--main-color-yellow);
  transition: .5s;
}

h2 {
  font-size: 3rem;
}

.intro {
  flex-direction: column;
}

@keyframes init {
  100% {
    width: 100%;
  }
}

@keyframes button_hover {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}