#background {
  position: absolute;
  left: 0;
  right: 0;
  width: 55%;
  height: 100vh;

  background-color: crimson;

  animation: init 1s ease forwards;
  transition: .5s;
  z-index: -1;
}

body {
  cursor: pointer;
  /* background-color: crimson; */
  transition: .5s;
}

body:hover #background {
  background-color: white;
  transition: .5s;
}

h1 > a {
  color: rgba(0, 0, 0, 0.8);
  transition: .5s;
}

h1 > a:hover {
  color: cadetblue;
  transition: .5s;
}

h1, h2, h2 > a {
  color: white;
  transition: 1s;
}

body:hover h1, body:hover h2 {
  color: black;
  transition: 1s;
}

body:hover h2 > a {
  color: crimson;
  transition: 1s;
}

body:hover h2 > a:hover  {
  color: cadetblue;
  transition: .4s;
}

h1 {
  font-size: 7rem;
}

hr {
  width: 60%;
}

h2 {
  font-size: 5rem;
}

.intro {
  flex-direction: column;
}

@keyframes init {
  100% {
    width: 100%;
  }
}