#home-button {
  border-color :var(--main-color-yellow);
  color: var(--main-color-yellow);
  left: 90%;
  transition: .5s;
}

#home-button:hover > .effect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--main-color-yellow);
  animation: button_hover .5s ease;
}


h1 {
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;

  text-transform: uppercase;
}

div, p {
  font-size: 2.4rem;

  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
}

#box {
  width: 80%;
  height: 80%;

  position: fixed;
  z-index: 2;

  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;

  height: 100%;
  width: 100%;

  color: var(--main-color-yellow);
}

.item {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-content: center;

  transition: .5s;

  grid-column: 1 / 2;

  border-bottom: 1px solid gray;

  background-color: var(--main-color-yellow);
  color: var(--main-color-black);
}

.item > .detail {
  display: none;
  visibility: hidden;
}

.focus-item {
  background-color: var(--main-color-black);
  color: var(--main-color-yellow);
  transition: .5s;
}

.focus-item-detail {
  grid-column: 2 / 3;
  grid-row: 1 / 7;

  height: 100%;
  background-color: var(--main-color-black);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.focus-item-detail > * {
  width: 80%;
  margin: 1rem 0;
}

.focus-item-detail > h1 {
  font-size: 3.2rem;
}

.focus-item-detail > p {
  font-size: 2rem;
}

@keyframes button_hover {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes detail_visible {
  100% {
    opacity: 1;
    visibility: visible;
    display: inline;
  }
}

@keyframes pre_detail_animation {
  50% {

  }
  100% {

  }
}